*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.black{
    color: black;
}


center{
    color: blue;
}

h2{
    color: black;
}
pre{
    color: red;
}